# Dependencies
node_modules/

# Vite cache
.vite/
.vite-temp/

# Build output
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db

# Misc (mostly harmless but safe to ignore)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
