# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Node / frontend (future)
node_modules/
dist/
build/

# Local dev files
watcher.py
db_config.json

# My Workflow reset
DEV_RESET_WORKFLOW.md

# Database files
backend/dev.db
*.db

# Uploaded Images
backend/uploads/